<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
    <style>
        .navbar {
            height: 65px;
        }

        .navbar-brand {
            font-size: 21px;
        }

        .nav-link {
            font-size: 15px;
        }
    </style>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>An error occurred while processing your request.</h2>
    </hgroup>
    <p>@ViewBag.Message</p>
    <p>@ViewBag.ErrorMessage</p>

</body>
</html>
