
@{
    ViewBag.Title = "Success";
}





<head>
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" rel="stylesheet">




    <style>
        
        .navbar {
            height: 65px;
        }

        .navbar-brand {
            font-size: 25px;
        }

        .nav-link {
            font-size: 17px;
        }
        .container-ty {
            text-align: center;
            margin-top: 50px;
        }

        .title {
            font-family: 'Great Vibes', cursive;
            font-size: 58px;
            color: #555;
        }

        .message {
            
            font-family: 'Lobster', cursive;
            font-size: 32px;
            color: #777;
            margin-top: 20px;
        }
    </style>
</head>

<body>
    <div class="container-ty">
        <h1 class="title">Success!</h1>
        <h2 class="title">Thank You for the payment!</h2>
        <p class="message">
            @ViewBag.Message
            </p>
    </div>
</body>