
@{
    //Layout = null;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Allot</title>
</head>
<h1 id="title">COURSE ALLOTMENT</h1>
<body>
    <h3>Hello, Admin!<br> 
    The course Allocation is complete!</h3>
    <br>

    <button class="btn btn-primary" onclick="location.href='@Url.Action("MeritList1", "ApplicantDetails")'">Click here to view Allotment Results</button>
</body>

