@{
    ViewBag.Title = "Home Page";
}


    
        <main>
            <section class="row" aria-labelledby="TechnoVistaTitle">

                <h1 id="title"><span style="background-color: thistle"> WELCOME TO TECHNOVISTA INSTITUTE OF TECHNOLOGY</span></h1><br>
                <br>
                <br>
                @if (User.IsInRole("Admin"))
                {
                    <h2>DASHBOARD</h2>
                    <h3>Welcome to your dashboard, Admin! </h3>
                }
                @if (Session["uname"] != null)
                {
                    <h4>Hello @Session["uname"].ToString()</h4>
                }

                <p class="lead">
                    TechnoVista Institute of Technology is a prestigious and cutting-edge educational institution that stands at the forefront of technological innovation. Located in a sprawling campus, it offers a diverse range of B.Tech programs in various fields of engineering, computer science, and technology.

                </p><br>

                <img src="https://imageio.forbes.com/specials-images/imageserve/633498cf8fa96d2fe3592c39/University-of-Michigan-Law-School-Quadrangle--Ann-Arbor--MI/960x0.jpg?format=jpg&width=960">

                <!--<p><a href="https://asp.net" class="btn btn-primary btn-md">Learn more &raquo;</a></p>-->
            </section>
            <br>
            <br>
            <div class="row">
                <section class="col-md-4" aria-labelledby="CertifiedTeachersTitle">
                    <h2 id="CertifiedTeachersTitle"><span style="background-color: thistle">Certified Teachers</span></h2>
                    <p>At TechnoVista Institute of Technology, we pride ourselves on having a highly qualified and experienced faculty. They offer guidance and mentorship, helping students explore their interests, set goals, and make informed career choices and helps in bridging the gap between academia and the real world.</p><br>
                    <!--<p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>-->
                    
                </section>
                <section class="col-md-4" aria-labelledby="Top-NotchEducationTitle">
                    <h2 id="Top-NotchEducationTitle"><span style="background-color: thistle">Top-Notch Education</span></h2>
                    <p> At our college,we offer courses that make students ready for industry level. </p>

                    <p><a class="btn btn-outline-dark" href="https://localhost:44347/Courses">Learn more &raquo;</a></p>
                </section>
                <section class="col-md-4" aria-labelledby="ExtracurricularActivitiesTitle">
                    <h2 id="ExtracurricularActivitiesTitle"><span style="background-color: thistle">Extracurricular Activities</span></h2>
                    <p>
                        We understand the importance of holistic development.
                        That's why we offer a vibrant range of extracurricular 
                        activities clubs. 
                    </p>
                    <!--<p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>-->
                </section>
            </div>
        </main>
    

