
@{
    ViewBag.Title = "Notices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--<h2>Notices</h2>-->

<title>Notice Board</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap">
<style>
    .notice {
        margin-bottom: 20px;
        padding: 20px;
        background-color: #f8f9fa;
        border-radius: 5px;
    }
</style>

<body>
    <div class="container">
        <h1>Notice Board</h1>

        <div class="notice">
            <h3><span style="background-color: thistle"> Important Notice</span></h3><br>
            <p>The admission portal is online now! Register before deadline ends! </p>
            <p><em>Date: 2023-06-08</em></p>
        </div>

        <div class="notice">
            <h3><span style="background-color: thistle">Admission Schedule</span></h3><br>
            <p>
                Opening of the Online Admission Portal for B.Tech : 24-05-2023 <br>
                Closing of the Online Admission Portal for B.Tech : 30-06-2023 <br>
                Publication of Merit based Full List of Candidates (Final) : 05-07-2023 <br>
                Publication of 1st Call List for Admission : 06-07-2023 <br>
                Admission Fees Payment for 1st Call List for Admission : 08-07-2023 <br>

            </p>
            <p><em>Date: 2023-06-20</em></p>
        </div>   

        <div class="notice">
            <h3><span style="background-color: thistle">Upcoming Events</span></h3><br>
            <p>Mark your calenders for the student paper competition on 'ROBOTICS IN HEALTHCARE</p>
            <p><em>Date: 2023-06-15</em></p><br>
            <p>Celebration of World Intellectual Property Day!</p>
            <p><em>Date: 2023-06-20</em></p>
        </div>


    </div>
</body>


